.menu{
    border: 1px solid black;
    margin: 10px;
    background-color: rgb(111, 243, 150);
    height:20px;
    width:100vh;
    text-align: center;
}
.MyContribution{
    border: 1px solid black;
    margin: 10px;
    background-color: rgb(111, 243, 150);
    height:40vh;
    width:100vh;
}
.MyProject{
    border: 1px solid black;    
    margin: 10px;
    background-color: rgb(111, 184, 243);
    height:40vh;
    width:100vh; 
}
