main {
    display: flex;
}

.main-container {
    display : flex;
    width: 80vw;
    min-height: 100vh;
    background-color: lightgray;
    padding: 0 3%;
}

.project-row{
  display: flex;
  justify-content: space-between;
}

.project-row:nth-child(odd) {
  border-top: 1px solid black;
}
