<p>add-step works!</p>
<form [formGroup]=registerForm>


    <div class="form-group">
        <label for="StepName">Step Title :</label>
        <input id="StepName" type="text" formControlName="StepName" placeholder="Nom du projet">   
        <!-- On regarde si le champs est valide ou non (mais on ne saura pas pourquoi il est invalide) -->
        <!-- <span *ngIf="!registerForm.get('lastname')?.valid" class="txt-error">Le champs n'est pas valide</span> -->
        <span class="txt-error" *ngIf="registerForm.get('StepName')?.touched && registerForm.get('PrjName')?.errors?.['required']" class="txt-error">Le champs est requis</span>
        
        <span class="txt-error" *ngIf="registerForm.get('PrjName')?.errors?.['minlength'] || registerForm.get('PrjName')?.errors?.['maxlength']" class="txt-error">❌Le nom du projet doit faire minimum 2 caractères et maximum 100 caractères</span>
        <span class="txt-valid" *ngIf="registerForm.get('PrjName')?.valid">✔</span>
    </div>
</form>